{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Scrivi una recensione per {{ edition.book.title }}{% endblock %}

{% block content %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             <b>{{ message|safe }}</b>
         </div>
     {% endfor %}
    {% endif %}

    <h1><b>Scrivi una recensione per {{ edition.book.title }}</b></h1>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'digital_lending:edition-detail' edition.pk %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}