{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Elimina recensione{% endblock %}

{% block content %}
    <h1><b>Elimina recensione</b></h1>
    <br>
    <h4>Confermi di voler eliminare questa recensione?</h4>
    <h5><b>Libro:</b> {{ object.book.book.title }}</h5>
    <h5><b>Scritta in data:</b> {{ object.date_created|date }}</h5>
    <h5><b>Testo: </b>{{ object.text }}</h5>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'reviews:review-detail' object.pk %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}
