{% extends 'base.html' %}

{% block title %}Recensione: {{ object.book.book.title }}{% endblock %}

{% block content %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
    {% endif %}

    <h1><b>Recensione: <a href="{% url 'digital_lending:edition-detail' object.book.pk %}">"{{ object.book.book.title }}"</a></b></h1>
    <h3><a href="{% url 'accounts:profile' object.author.pk %}">{{ object.author.username }}</a></h3>
    <br>
    <h5><b>Voto:</b> {{ object.rating }}</h5>
    <br>
    <p>"<i>{{ object.text }}</i>"</p>
    <br>
    <p><b>{{ upvotes }} upvotes, {{ downvotes }} downvotes</b></p>
    <br>
    {% if user.is_authenticated %}
        {% if user != object.author %}
        <form method="POST" action="{% url 'reviews:review-upvote' object.pk %}" class="form-check-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-success" >Upvote</button>
        </form>
        <form method="POST" action="{% url 'reviews:review-downvote' object.pk %}" class="form-check-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger" >Downvote</button>
        </form>
        <br>
        {% elif user == object.author %}
            <a href="{% url 'reviews:review-update' object.pk %}" class="w3-button w3-teal w3-round-large">Aggiorna recensione</a>
            <br><br>
            <a href="{% url 'reviews:review-delete' object.pk %}" class="w3-button w3-teal w3-round-large">Elimina recensione</a>
        {% endif %}
    {% endif %}
{% endblock %}
