{% extends 'base_list.html' %}

{% block list_title %}Recensioni: {{ object_list.0.book.book.title }}{% endblock %}
{% block content_title %}Recensioni: <b>{{ object_list.0.book.book.title }}</b>{% endblock %}

{% block thead %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
    {% endif %}

    <th>Utente</th>
    <th>Voto
        {% if sort == "worst_rating" or "" %}
            <a href="{% url 'reviews:review-list' edition.pk %}?sort=best_rating">▼</a>
        {% else %}
            <a href="{% url 'reviews:review-list' edition.pk %}?sort=worst_rating">▲</a>
    {% endif %}
    </th>
    <th>Testo</th>
    <th>Data
        {% if sort == "oldest" or "" %}
            <a href="{% url 'reviews:review-list' edition.pk %}?sort=newest">▼</a>
        {% else %}
            <a href="{% url 'reviews:review-list' edition.pk %}?sort=oldest">▲</a>
    {% endif %}
    </th>
    <th>Dettaglio</th>
{% endblock %}

{% block tbody %}
    {% for review in page_obj %}
        <tr>
            <td><a href="{% url 'accounts:profile' review.author.pk %}">{{ review.author.username }}</a></td>
            <td>{{ review.rating }}</td>
            <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">{{ review.text }}</td>
            <td>{{ review.date_created|date }}</td>
            <td><a href="{% url 'reviews:review-detail' review.pk %}">Vai alla recensione</a>
                <br>
            {% if user.is_authenticated and user == review.author %}
                <a href="{% url 'reviews:review-update' review.pk %}">Aggiorna recensione</a>
                <br>
                <a href="{% url 'reviews:review-delete' review.pk %}">Elimina recensione</a>
            {% endif %}
        </tr>
    {% endfor %}
{% endblock %}

{% block table_after %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Inizio</a>
            <a href="?page={{ page_obj.previous_page_number }}">Indietro</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Avanti</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Fine &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
