{% extends 'base_list.html' %}
{% load static %}

{% block list_title %}le mie recensioni{% endblock %}
{% block content_title %}Le mie recensioni{% endblock %}

{% block thead %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
    {% endif %}

    <th> </th>
    <th>Libro</th>
    <th>Voto</th>
    <th>Testo</th>
    <th>Data</th>
    <th>Dettaglio</th>
{% endblock %}

{% block tbody %}
    {% for review in page_obj %}
        <tr>
        <td>
            {% if review.book.pic %}
                    <img class="img-fluid img-thumbnail" src="{{ review.book.pic.url }}" style="width:85px">
                {% else %}
                    <img class="img-fluid img-thumbnail" src="{% static 'digital_lending/book-img-placeholder.jpg' %}" style="width:85px">
                {% endif %}
        </td>
            <td><a href="{% url 'digital_lending:edition-detail' review.book.pk %}">{{ review.book.book.title }}</a></td>
            <td>{{ review.rating }}</td>
            <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">{{ review.text }}</td>
            <td>{{ review.date_created|date }}</td>
            <td><a href="{% url 'reviews:review-detail' review.pk %}">Vai alla recensione</a>
                <br>
            {% if user.is_authenticated and user == review.author %}
                <a href="{% url 'reviews:review-update' review.pk %}">Aggiorna recensione</a>
                <br>
                <a href="{% url 'reviews:review-delete' review.pk %}">Elimina recensione</a>
            {% endif %}
        </tr>
    {% endfor %}
{% endblock %}

{% block table_after %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Inizio</a>
            <a href="?page={{ page_obj.previous_page_number }}">Indietro</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Avanti</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Fine &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
