{% extends 'base.html' %}
{% load static %}

{% block title %} Profilo {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <main class="content">
     {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
    {% endif %}

    <form action="{% url 'accounts:profile' profile.pk %}" method="GET" enctype="multipart/form-data">
        {% csrf_token %}
         <div class="row">
             {% if view_profile %}
                <div class="column left">
                    <h2>Profilo utente</h2>
                        {% if profile.profile_pic %}
                            <img class="img-fluid img-thumbnail" src="{{ profile.profile_pic.url }}" style="width:120px">
                        {% else %}
                            <img class="img-fluid img-thumbnail" src="{% static 'accounts/profile-img-placeholder.png' %}" style="width:120px">
                        {% endif %}
                        <h4><b>Username:</b> {{ library.user.username }}</h4>
                        <h4><b>Nome biblioteca:</b> {{ library.name }}</h4>
                        <h4><b>Città:</b> {{ library.city }}</h4>
                        <h4><b>Indirizzo:</b> {{ library.address }}</h4>
                        <h4><b>Email:</b> {{ library.user.email }}</h4>
                        <h4><b>Telefono:</b> {{ library.phone_number }}</h4>
                </div>
              <div class="column right">
                 {% if user.is_authenticated and user.pk == profile.pk %}
                    <h2>I miei dati</h2>
                        <ul>
                         <a class="w3-button w3-teal w3-round-large" role="button" href="{% url 'accounts:profile-update' profile.pk %}">Modifica dati profilo</a>
                            <br><br>
                         <a class="w3-button w3-teal w3-round-large" role="button" href="{% url 'accounts:library-update' profile.pk %}">Modifica dati biblioteca</a>
                        </ul>
                     <h2>Le mie risorse</h2>
                        <ul>
                            <a class="w3-button w3-teal w3-round-large" role="button" href="{% url 'digital_lending:library-catalogue' %}">I miei libri</a>
                                <br><br>
                            <a class="w3-button w3-teal w3-round-large" role="button" href="{% url 'digital_lending:library-periodicals' %}">I miei periodici</a>
                                <br><br>
                             <a class="w3-button w3-teal w3-round-large" role="button" href="{% url 'digital_lending:my-book-lists' %}">Le mie liste</a>
                                 <br><br>
                            <a class="w3-button w3-teal w3-round-large" role="button" href="{% url 'digital_lending:my-saved-book-lists' %}">Liste salvate</a>
                                <br><br>
                            <a class="w3-button w3-teal w3-round-large" role="button" href="{% url 'digital_lending:purchase-suggestions' %}">Suggerimenti d'acquisto</a>
                        </ul>
                    {% endif %}
                </div>
            {% else %}
                <h2>Profilo privato</h2>
            {% endif %}
         </div>
    </form>
    </main>
{% endblock content %}