{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Aggiorna dati biblioteca{% endblock %}

{% block content %}
    <h1><b>Aggiorna dati biblioteca</b></h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'accounts:profile' object.pk %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}
