{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Aggiungi biblioteca{% endblock %}

{% block content %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             <b>{{ message|safe }}</b>
         </div>
     {% endfor %}
    {% endif %}

    <h1><b>Aggiungi biblioteca</b></h1>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'accounts:library-cards-list' %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}
