{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Elimina biblioteca{% endblock %}

{% block content %}
    <h1><b>Elimina biblioteca</b></h1>
    <br>
    <h4>Stai per eliminare questa biblioteca, confermare?</h4>
    <h5><b>Nome:</b> {{ object.library.name }}</h5>
    <h5><b>Tessera:</b> {{ object.number_code }}</h5>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'accounts:library-cards-list' %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}
