{% extends 'base_list.html' %}

{% block list_title %}Le mie biblioteche{% endblock %}
{% block content_title %}Le mie biblioteche{% endblock %}

{% block thead %}
     {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             <b>{{ message|safe }}</b>
         </div>
     {% endfor %}
    {% endif %}

    <th>Biblioteca</th>
    <th>Tessera</th>
    <th>Dettaglio</th>
{% endblock %}

{% block tbody %}
    {% for libcard in page_obj %}
        <tr>
            <td>{{ libcard.library.name }}</td>
            <td>{{ libcard.number_code }}</td>
            <td>
            {% if user.is_authenticated and user.is_person %}
                <a href="{% url 'accounts:library-cards-update' libcard.pk %}">Aggiorna</a>
            <br>
                <a href="{% url 'accounts:library-cards-delete' libcard.pk %}">Elimina</a>
            {%  endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table_after %}
    {% if user.is_authenticated and user.is_person %}
        <a href="{% url 'accounts:profile' user.pk %}">Torna al tuo profilo</a>
        <a href="{% url 'accounts:library-cards-create' %}" class="w3-button w3-teal w3-round-large" role="button">Aggiungi nuova tessera</a>
    {%  endif %}
    <hr>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
