{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Aggiorna biblioteche{% endblock %}

{% block content %}
    <h1><b>Aggiorna biblioteche</b></h1>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'accounts:library-cards-list' %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}
