{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Crea periodico{% endblock %}

{% block content %}
    <h1><b>Crea un nuovo periodico</b></h1>
    <br>
    <a href="{% url 'digital_lending:publisher-create' %}" class="w3-button w3-teal w3-round-large" role="button">Non trovi l'editore che cerchi? Aggiungilo</a>
    <br><br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'digital_lending:library-periodicals' %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}