{% extends 'base_list.html' %}
{% load static %}

{% block list_title %}Periodici{% endblock %}
{% block content_title %}Periodici{% endblock %}

{% block thead %}
    <form action="{% url 'digital_lending:periodicals' %}" method="get">
        <input name="q" type="text" placeholder="Cerca titolo...">
    </form>
    <br><br>

    <form>
    <div class="row">
        <div class="col-auto">
      <select name="type" class="custom-select">
        <option value="all" {% if type == "all" or type == ""  %}selected{% endif %}>Filtra per tipo</option>
        <option value="newspaper" {% if type == "newspaper" %}selected{% endif %}>Giornali</option>
        <option value="magazine" {% if type == "magazine" %}selected{% endif %}>Riviste</option>
      </select>
        </div>

        <div class="col-auto">
          <select name="date" class="custom-select">
            <option value="all" {% if date == "all" or date == ""  %}selected{% endif %}>Filtra per data</option>
            <option value="last_7_days" {% if date == "last_7_days" %}selected{% endif %}>Ultimi 7 giorni</option>
            <option value="last_15_days" {% if date == "last_15_days" %}selected{% endif %}>Ultimi 15 giorni</option>
            <option value="last_month" {% if date == "last_month"  %}selected{% endif %}>Ultimo mese</option>
          </select>
        </div>

        <div class="col-auto">
          <select name="category" class="custom-select">
            <option value="all" {% if category == "all"  or category == "" %}selected{% endif %}>Filtra per categoria</option>
              {% for category_name in categories %}
                <option value="{{ category_name }}" {% if category == category_name.name %}selected{% endif %}>{{ category_name }}</option>
              {% endfor %}
          </select>
        </div>

        <button class="btn btn-primary" type="submit">Filtra</button>
    </div>
    </form>

    <th> </th>
    <th>Titolo
        {% if sort == "title_desc" or "" %}
            <a href="{% url 'digital_lending:periodicals' %}?sort=title_asc">▼</a>
        {% else %}
            <a href="{% url 'digital_lending:periodicals' %}?sort=title_desc">▲</a>
    {% endif %}
    </th>
    <th>Editore</th>
    <th>Categoria</th>
    <th>Lingua</th>
    <th>Numeri</th>
{% endblock %}

{% block tbody %}
    {% for periodical in page_obj %}
        <tr>
            <td>
                {% if periodical.pic %}
                    <img class="img-fluid img-thumbnail" src="{{ periodical.pic.url }}" style="width:85px">
                {% else %}
                    <img class="img-fluid img-thumbnail" src="{% static 'digital_lending/book-img-placeholder.jpg' %}" style="width:85px">
                {% endif %}
            </td>
            <td>{{ periodical.name }}</td>
            <td><a href="{% url 'digital_lending:publisher-detail' periodical.publisher.pk %}">{{ periodical.publisher }}</a></td>
            <td><a href="{% url 'digital_lending:category-detail' periodical.category.pk %}">{{ periodical.category.name }}</a></td>
            <td>{{ periodical.language }}</td>
            <td><a href="{% url 'digital_lending:periodical-issues' periodical.pk %}">Numeri</a>
                {% if user.is_authenticated and user.is_library %}
                    <br>
                    <a href="{% url 'digital_lending:issue-create' periodical.pk %}">Aggiungi un nuovo numero</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table_after %}
    {% if user.is_authenticated and user.is_library %}
        <a class="w3-button w3-teal w3-round-large" role="button" href="{% url 'digital_lending:periodical-create' %}">Crea nuovo periodico</a>
    {%  endif %}
    <hr>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Inizio</a>
            <a href="?page={{ page_obj.previous_page_number }}">Indietro</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Avanti</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Fine &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
