{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Elimina copia{% endblock %}

{% block content %}
    <h1><b>Elimina copia</b></h1>
    <br>
    <h4>Confermi di voler eliminare questa copia?</h4>
    <h5><b>Libro:</b> {{ object.edition.book.title }}</h5>
    <h5><b>Edizione:</b>{{ object.edition.publisher.name }}, {{ object.edition.pub_date|date }}</h5>
    <h5><b>Codice ISBN:</b> {{ object.edition.isbn_digital }}</h5>
    <h5><b>Tipo:</b> {% if object.is_audiobook %} Audiobook {% else %} Ebook {% endif %}</h5>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'digital_lending:copies' object.edition.isbn_digital %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}
