{% extends 'base_list.html' %}

{% block list_title %}Copie di {{ edition.book.title }}{% endblock %}
{% block content_title %}Copie di
    <a href="{% url 'digital_lending:edition-detail' edition.pk %}">{{ edition.book.title }}</a>{% endblock %}

{% block thead %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
    {% endif %}

    <th>ID</th>
    <th>Tipo</th>
    <th>File</th>
    <th>Data di aggiunta</th>
    <th>Opzioni</th>
{% endblock %}

{% block tbody %}
    {% for copy in page_obj %}
        <tr>
            <td>{{ copy.id }}</td>
            <td>{% if copy.is_audiobook %} Audiobook {% else %} Ebook {% endif %}</td>
            <td>
                {% if copy.file %}
                    <a href="{{ copy.file.url }}" download  class="w3-button w3-teal w3-round-large">Scarica file</a>
                {% endif %}
            </td>
        <td>{{ copy.date_added|date }}</td>
            <td>
                {% if user.is_authenticated and user.is_library and user == copy.library.user %}
                    <a href="{% url 'digital_lending:copy-update' copy.pk %}">Aggiorna copia</a>
                <br>
                    <a href="{% url 'digital_lending:copy-delete' copy.pk %}">Elimina copia</a>
                {%  endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table_after %}
    {% if user.is_authenticated and user.is_library %}
        <a class="w3-button w3-teal w3-round-large" role="button" href="{% url 'digital_lending:copy-create' edition.pk %}">Crea nuova copia</a>
    {%  endif %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Inizio</a>
            <a href="?page={{ page_obj.previous_page_number }}">Indietro</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Avanti</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Fine &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
