{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Aggiorna copia{% endblock %}

{% block content %}
    <h1><b>Aggiorna copia</b></h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'digital_lending:copies' object.edition.isbn_digital %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}
