{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Elimina prenotazione{% endblock %}

{% block content %}
    <h1>Elimina prenotazione</h1>
    <h3>Confermi di voler eliminare questa prenotazione?</h3>
    <h5>{{ object.edition.book.title }}</h5>
    <h5>Effettuata il {{ object.date }}</h5>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'digital_lending:book-reservations' %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}
