{% extends 'base_list.html' %}
{% load static %}

{% block list_title %}Prenotazioni{% endblock %}
{% block content_title %}Prenotazioni{% endblock %}

{% block thead %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
    {% endif %}

    <th> </th>
    <th>Titolo</th>
    <th>Autore</th>
    <th>Data prenotazione</th>
    <th>Dettaglio</th>
{% endblock %}

{% block tbody %}
    {% for book in page_obj %}
        <tr>
            <td>
                {% if book.edition.pic %}
                    <img class="img-fluid img-thumbnail" src="{{ book.edition.pic.url }}" style="width:85px">
                {% else %}
                    <img class="img-fluid img-thumbnail" src="{% static 'digital_lending/book-img-placeholder.jpg' %}" style="width:85px">
                {% endif %}
            </td>
            <td>{{ book.edition.book.title }}</td>
            <td>{% for author in book.edition.book.author.all %}
                {{ author.name }}
                {% endfor %}</td>
            <td>{{ book.date|date }}</td>
            <td>
            <a href="{% url 'digital_lending:edition-detail' book.edition.isbn_digital %}">Vai al libro</a>
            <br>
                {% if user.is_authenticated and user.is_person %}
                    <a href="{% url 'digital_lending:book-reservation-delete' book.pk %}">Elimina</a>
                {%  endif %}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table_after %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Inizio</a>
            <a href="?page={{ page_obj.previous_page_number }}">Indietro</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Avanti</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Fine &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
