{% extends 'base.html' %}
{% block title %} {% block list_title %}{% endblock %}{% endblock %}

{% block content %}
    <h1><b>{% block content_title %}{% endblock %}</b></h1>
    <table class="table">
        <thead>
        <tr>
            {% block thead %}

            {% endblock %}
        </tr>
        </thead>
        <tbody>
        {% block tbody %}

        {% endblock %}
        </tbody>
    </table>
    {% block table_after %}

    {% endblock %}
{% endblock %}
