{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="io=edge">
    <title>{% block title %}{% endblock %}</title>
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
{% block stylesheets %}{% endblock %}
</head>
<body>

    <!--NAVBAR-->
    <header class="page-header">
        <h1>Digital Library</h1>
    </header>

    <div id="navbar">
        <ul>
            <li><a href="{% url 'home' %}" class="btn btn-person btn-lg" role="button">Home</a></li>
            <li><a href="{% url 'accounts:signup' %}" class="btn btn-person btn-lg" role="button">Registrati</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'accounts:profile' user.pk %}" class="btn btn-person btn-lg" role="button">Profilo</a></li>
                <li><a href="{% url 'logout' %}" class="btn btn-person btn-lg" role="button">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}" class="btn btn-person btn-lg" role="button">Accedi</a></li>
            {% endif %}
            <li><a href="{% url 'digital_lending:editions' %}" class="btn btn-person btn-lg" role="button">Libri</a></li>
            <li><a href="{% url 'digital_lending:periodicals' %}" class="btn btn-person btn-lg" role="button">Periodici</a></li>
            <li><a href="{% url 'digital_lending:book-lists' %}" class="btn btn-person btn-lg" role="button">Liste</a></li>
            <li><a href="{% url 'admin:index' %}" class="btn btn-person btn-lg" role="button">Admin</a></li>
        </ul>
    </div>

    {% block content %}

    {% endblock %}
   <hr>
</body>
</html>