{% extends 'base.html' %}
{% load static %}

{% block title %}Digital Library - Home page{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>Ciao, <a href="{% url 'accounts:profile' user.pk %}">{{ user.username }}</a>.</h3>
        {% if user.is_person %}
            {% if available_reserved_books %}
                <h4>I seguenti libri che avevi prenotato sono diventati disponibili:</h4>
                    <ul>
                        {% for edition in available_reserved_books %}
                            <li><a href="{% url 'digital_lending:edition-detail' edition.pk %}">{{ edition.book.title }}</a></li>
                        {% endfor %}
                    </ul>
            {% endif %}
        {% endif %}
    {% endif %}

     {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
    {% endif %}

    <hr>

    <h2><b>Libri: le ultime novità</b></h2>
    <li class="w3-bar">
        {% for edition in latest_book_editions %}
            {% if edition.pic %}
                <img src="{{ edition.pic.url }}" class="w3-bar-item w3-circle" style="width:85px">
            {% else %}
                <img src="{% static 'digital_lending/book-img-placeholder.jpg'%}" class="w3-bar-item w3-circle" style="width:85px">
            {% endif %}
                <div class="w3-bar-item">
                    <span class="w3-medium">
                        <b><a href="{% url 'digital_lending:edition-detail' edition.pk %}">{{ edition.book.title }}</a></b></span>
                        <br>
                        {% for author in edition.book.author.all %}
                            <span><a href="{% url 'digital_lending:author-detail' author.pk %}">{{ author.name }}</a></span>
                        {% endfor %}
              </div>
        {% endfor %}
    </li>

    <hr>

    <h2><b>Periodici: le ultime novità</b></h2>
    <li class="w3-bar">
        {% for issue in latest_periodical_issues %}
            {% if issue.periodical.pic %}
                <img src="{{ issue.periodical.pic.url }}" class="w3-bar-item w3-circle" style="width:85px">
            {% else %}
                <img src="{% static 'digital_lending/book-img-placeholder.jpg'%}" class="w3-bar-item w3-circle" style="width:85px">
            {% endif %}
                <div class="w3-bar-item">
                    <span class="w3-medium">
                        <b><a href="{% url 'digital_lending:periodical-issues' issue.periodical.pk %}">{{ issue.periodical.name }}</a></b></span>
                        <br>
                        N. {{ issue.number }}
                    <br>
                    <span><a href="{% url 'digital_lending:publisher-detail' issue.periodical.publisher.pk %}">{{ issue.periodical.publisher.name }}</a></span>
                </div>
        {% endfor %}
    </li>

    <hr>

    <h2><b>Liste: le ultime novità</b></h2>
    <li class="w3-bar">
        {% for list in latest_book_lists %}
            {% if list.books.all.0.edition.pic %}
                <img src="{{ list.books.all.0.edition.pic.url }}" class="w3-bar-item w3-circle" style="width:85px">
            {% else %}
                <img src="{% static 'digital_lending/book-img-placeholder.jpg'%}" class="w3-bar-item w3-circle" style="width:85px">
            {% endif %}
                <div class="w3-bar-item">
                    <span class="w3-medium">
                        <b><a href="{% url 'digital_lending:book-list-detail' list.pk %}">{{ list.title }}</a></b></span>
                        <br>
                        <span><a href="{% url 'accounts:profile' list.owner.pk %}">{{ list.owner.username }}</a></span>

                </div>
        {% endfor %}
    </li>

{% endblock %}