{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Elimina {{ object.edition.book.title }} dai preferiti{% endblock %}

{% block content %}
    <h1><b>Elimina {{ object.edition.book.title }} dai preferiti</b></h1>
    <br>
    <h4>Confermi di voler eliminare <b>{{ object.edition.book.title }}</b> dai tuoi preferiti?</h4>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'digital_lending:favorite-books' %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}
