{% extends 'base_list.html' %}
{% load static %}

{% block list_title %}Libri preferiti{% endblock %}
{% block content_title %}Libri preferiti{% endblock %}

{% block thead %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
    {% endif %}

    <th> </th>
    <th>Titolo
        {% if sort == "title_desc" or "" %}
            <a href="{% url 'digital_lending:favorite-books' %}?sort=title_asc">▼</a>
        {% else %}
            <a href="{% url 'digital_lending:favorite-books' %}?sort=title_desc">▲</a>
    {% endif %}
    </th>
    <th>Autore</th>
    <th>Data aggiunto
        {% if sort == "oldest" or "" %}
            <a href="{% url 'digital_lending:favorite-books' %}?sort=newest">▼</a>
        {% else %}
            <a href="{% url 'digital_lending:favorite-books' %}?sort=oldest">▲</a>
    {% endif %}
    </th>
    <th>Opzioni</th>
{% endblock %}

{% block tbody %}
    {% for book in page_obj %}
        <tr>
            <td>
                {% if book.edition.pic %}
                    <img class="img-fluid img-thumbnail" src="{{ book.edition.pic.url }}" style="width:85px">
                {% else %}
                    <img class="img-fluid img-thumbnail" src="{% static 'digital_lending/book-img-placeholder.jpg' %}" style="width:85px">
                {% endif %}
            </td>
            <td><a href="{% url 'digital_lending:edition-detail' book.edition.pk %}">{{ book.edition.book.title }}</a></td>
            <td>{% for author in book.edition.book.author.all %}
                    <a href="{% url 'digital_lending:author-detail' author.pk %}">{{ author.name }}</a>
                {% endfor %}
            </td>
            <td>{{ book.date|date }}</td>
            <td>
                {% if user.is_authenticated and user.is_person %}
                    <a href="{% url 'digital_lending:favorite-book-delete' book.pk %}">Elimina libro</a>
                {%  endif %}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table_after %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Inizio</a>
            <a href="?page={{ page_obj.previous_page_number }}">Indietro</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Avanti</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Fine &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
