{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Crea edizione{% endblock %}

{% block content %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
    {% endif %}

    <h1><b>Crea una nuova edizione</b></h1>
    {% if user.is_authenticated and user.is_library %}
        <a href="{% url 'digital_lending:author-create' %}" class="w3-button w3-teal w3-round-large" role="button">Non trovi l'autore che cerchi? Aggiungilo</a>
        <br><br>
        <a href="{% url 'digital_lending:book-create' %}" class="w3-button w3-teal w3-round-large" role="button">Non trovi il libro che cerchi? Aggiungilo</a>
        <br><br>
        <a href="{% url 'digital_lending:publisher-create' %}" class="w3-button w3-teal w3-round-large" role="button">Non trovi l'editore che cerchi? Aggiungilo</a>
    {%  endif %}
    <br><br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'digital_lending:library-catalogue' %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}