{% extends 'base.html' %}
{% load static %}

{% block title %}Edizione: {{ object.book.title }}{% endblock %}

{% block content %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
    {% endif %}
    <div class="row">
        <div class="column left">
            <h2>{{ object.book.title }}</h2>
            <div>
            {% if object.pic %}
                <img class="img-fluid img-thumbnail" src="{{ object.pic.url }}" style="width:120px">
            {% else %}
                <img class="img-fluid img-thumbnail" src="{% static 'digital_lending/book-img-placeholder.jpg' %}" style="width:120px">
            {% endif %}
            </div>
            <h5>{% for author in object.book.author.all %}
                  <a href="{% url 'digital_lending:author-detail' author.pk %}">{{ author.name }}</a>
                    <br>
                {% endfor %}
            </h5>
            <h5><a href="{% url 'digital_lending:publisher-detail' object.publisher.pk %}">{{ object.publisher }}, {{ object.pub_date|date }}</a></h5>
            <p><b>Codice ISBN</b>: {{ object.isbn_digital }}</p>
            <p><b>Sinossi</b>: {{ object.summary }}</p>
            <p><b>Categorie</b>:
            <br>
                {% for category in object.book.category.all %}
                  <a href="{% url 'digital_lending:category-detail' category.pk %}">{{ category.name }}</a>
                    <br>
                {% endfor %}</p>
        </div>
        <div class="column right">
            <h2>Dettagli</h2>
            {% if user.is_authenticated and user.is_person %}
                {% if library_has_copies %}
                    {% if not library_has_available_copies or user_has_book %}
                        <p><b>Libro occupato</b></p>
                        <br>
                        <form method="POST" action="{% url 'digital_lending:edition-reservation' object.pk %}" class="form-check-inline">
                            {% csrf_token %}
                            <button type="submit" class="w3-button w3-teal w3-round-large" {% if user_made_reservation or user_has_book %} disabled{% endif %}>Prenota</button>
                        </form>
                    {% else %}
                        <a class="w3-button w3-teal w3-round-large" role="button" href="{% url 'digital_lending:choose-copy' object.pk %}">Prendi in prestito</a>
                    {% endif %}
                {% else %}
                    <form method="POST" action="{% url 'digital_lending:suggest-purchase' object.pk %}" class="form-check-inline">
                        {% csrf_token %}
                        <button type="submit" class="w3-button w3-teal w3-round-large" {% if user_suggested_purchase %}disabled{% endif %}>Suggerisci acquisto</button>
                    </form>
                {% endif %}
            {% endif %}
        <hr>
            <p>Preso in prestito {{ week_stats }} volte negli ultimi 7 giorni, {{ month_stats }} volte nell'ultimo mese.</p>
            <hr>
            <p>{{ favorites }} ❤</p>
        {% if user.is_authenticated and user.is_person %}
            <form method="POST" action="{% url 'digital_lending:edition-favorite' object.pk %}" class="form-check-inline">
                {% csrf_token %}
                <button type="submit" class="w3-button w3-teal w3-round-large">
                    {% if object.pk in user_favorites %}Rimuovi dai preferiti{% else %}Aggiungi ai preferiti{% endif %}
                </button>
            </form>
        {% endif %}
            <hr>
            <p>Liste contenenti questo libro: <a href="{% url 'digital_lending:book-lists' %}?edition={{ object.isbn_digital }}"> {{ lists }}</a></p>
            {% if user.is_authenticated %}
                <p><a class="w3-button w3-teal w3-round-large" role="button" href="{% url 'digital_lending:add-book-to-list' object.pk %}">Aggiungi ad una delle tue liste</a></p>
            {% endif %}
            <hr>
            {% if user.is_authenticated and user.is_person %}
                <a class="w3-button w3-teal w3-round-large" role="button" href="{% url 'reviews:review-create' object.pk %}">Scrivi recensione</a>
                <br><br>
                <a class="w3-button w3-teal w3-round-large" role="button" href="{% url 'reviews:review-list' object.pk %}">Guarda le recensioni</a>
            {% endif %}
            <hr>
            {% if user.is_authenticated and user.is_library %}
                <a class="w3-button w3-teal w3-round-large" role="button" href="{% url 'digital_lending:copy-create' object.isbn_digital %}">Crea nuova copia</a>
                <br><br>
                <a class="w3-button w3-teal w3-round-large" role="button" href="{% url 'digital_lending:copies' object.isbn_digital %}">Le tue copie</a>
                <br><br>
                <a class="w3-button w3-teal w3-round-large" role="button" href="{% url 'digital_lending:edition-update' object.isbn_digital %}">Aggiorna edizione</a>
            {% endif %}
        </div>
    </div>


{% endblock %}