{% extends 'base_list.html' %}
{% load static %}

{% block list_title %}Libri{% endblock %}
{% block content_title %}Libri{% endblock %}

{% block thead %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
    {% endif %}

    <form action="{% url 'digital_lending:editions' %}" method="get">
        <input name="q" type="text" placeholder="Cerca titolo o autore...">
    </form>
    <br><br>
      <form>
      <div class="row">
        <div class="col-auto">
          <select name="date" class="custom-select">
            <option value="all" {% if date == "all" or date == ""  %}selected{% endif %}>Filtra per data di pubblicazione</option>
            <option value="last_7_days" {% if date == "last_7_days" %}selected{% endif %}>Ultimi 7 giorni</option>
            <option value="last_15_days" {% if date == "last_15_days" %}selected{% endif %}>Ultimi 15 giorni</option>
            <option value="last_month" {% if date == "last_month" %}selected{% endif %}>Ultimo mese</option>
          </select>
        </div>

        <div class="col-auto">
          <select name="category" class="custom-select">
            <option value="all" {% if category == "all"  or category == "" %}selected{% endif %}>Filtra per categorie</option>
              {% for category_name in categories %}
                <option value="{{ category_name }}" {% if category == category_name.name %}selected{% endif %}>{{ category_name }}</option>
              {% endfor %}
          </select>
        </div>

        <div class="col-auto">
          <select name="availability" class="custom-select">
            <option value="all" {% if availability == "all" or availability == ""  %}selected{% endif %}>Filtra per disponibilità</option>
            <option value="available" {% if availability == "available" %}selected{% endif %}>Solo libri disponibili</option>
          </select>
        </div>

      <div class="col-auto">
          <select name="type" class="custom-select">
            <option value="all" {% if type == "all" or type == ""  %}selected{% endif %}>Filtra per tipo</option>
              <option value="library" {% if type == "library" %}selected{% endif %}>Risorse bibliotecarie</option>
            <option value="open" {% if type == "open" %}selected{% endif %}>Risorse Open</option>
          </select>
        </div>
      <button class="btn btn-primary" type="submit">Filtra</button>
      </div>
      </form>


    <br>
    <th> </th>
    <th>Titolo
        {% if sort == "title_desc" or "" %}
            <a href="{% url 'digital_lending:editions' %}?sort=title_asc">▼</a>
        {% else %}
            <a href="{% url 'digital_lending:editions' %}?sort=title_desc">▲</a>
    {% endif %}
    </th>
    <th>Autore</th>
    <th>Editore</th>
    <th>Data pubblicazione
        {% if sort == "oldest" or "" %}
            <a href="{% url 'digital_lending:editions' %}?sort=newest">▼</a>
        {% else %}
            <a href="{% url 'digital_lending:editions' %}?sort=oldest">▲</a>
    {% endif %}
    </th>
    <th>Dettaglio</th>
{% endblock %}

{% block tbody %}
    {% for edition in page_obj %}
        <tr>
            <td>
                {% if edition.pic %}
                    <img class="img-fluid img-thumbnail" src="{{ edition.pic.url }}" style="width:85px">
                {% else %}
                    <img class="img-fluid img-thumbnail" src="{% static 'digital_lending/book-img-placeholder.jpg' %}" style="width:85px">
                {% endif %}
            </td>
            <td>{{ edition.book.title }}</td>
            <td>{% for author in edition.book.author.all %}
                <a href="{% url 'digital_lending:author-detail' author.pk %}">{{ author.name }}</a>
                <br>
                {% endfor %}
            </td>
            <td><a href="{% url 'digital_lending:publisher-detail' edition.publisher.pk %}">{{ edition.publisher }}</a></td>
            <td>{{ edition.pub_date|date }}</td>
            <td><a href="{% url 'digital_lending:edition-detail' edition.pk %}">Vai al libro</a>
            <br>
                {% if user.is_authenticated and user.is_library %}
                <a href="{% url 'digital_lending:copies' edition.pk %}">Vai alle tue copie</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table_after %}
    {% if user.is_authenticated and user.is_library %}
        <a href="{% url 'digital_lending:edition-create' %}" class="w3-button w3-teal w3-round-large" role="button">Aggiungi un libro</a>
    {%  endif %}
    <hr>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Inizio</a>
            <a href="?page={{ page_obj.previous_page_number }}">Indietro</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Avanti</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Fine &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
