body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eafaf1;
    background-image: url("https://transparenttextures.com/patterns/inspiration-geometry.png");
}

.page-header h1 {
    color: teal;
    font-family: 'Arial Black';
    text-align: center;
    font-weight: bold;
}

h2
{
	font-family: Arial, Helvetica, sans-serif;
	background-color: teal;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	margin: 10px;
}


a:link, a:visited
{
	color:  teal;
    text-decoration: none!important;
}

a:hover
{
	color: #000000;
    text-decoration: none!important;
 }

#navbar
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: teal;
	font-weight: bold;
	text-align: center;
	font-size: 110%;
}

#navbar li
{
    display: inline;
	padding-right: 20px;
}

#navbar a:link, #navbar a:visited
{color:  #eafaf1;
 text-decoration: none}

#navbar a:hover
{color:  teal;
 background-color: #eafaf1;
 text-decoration: none}

* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 75%;
  padding: 20px;
}

.right {
  width: 25%;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


