{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Aggiungi editore{% endblock %}

{% block content %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
    {% endif %}

    <h1><b>Aggiungi un nuovo editore</b></h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'digital_lending:edition-create' %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}