{% extends 'base.html' %}

{% block title %}Editore: {{ object.name }}{% endblock %}

{% block content %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             <b>{{ message|safe }}</b>
         </div>
     {% endfor %}
    {% endif %}

    <h1><b>{{ object.name }}</b></h1>
    <h5><b>Sede:</b> {{ object.address }}, {{ object.city }}</h5>
    <h5><b>Email:</b> {{ object.email }}</h5>
    <h5><b>Partita IVA:</b> {{ object.p_iva }}</h5>
    <br>
    {% if user.is_authenticated and user.is_library %}
        <a href="{% url 'digital_lending:publisher-update' object.pk %}" class="w3-button w3-teal w3-round-large" role="button">Aggiorna scheda editore</a>
    {% endif %}
     <hr>
    <h5><b>Edizioni:</b></h5>
    <ul>
        {% for edition in object.editions.all %}
            <li><a href="{% url 'digital_lending:edition-detail' edition.pk %}">{{ edition.book.title }}, {{ edition.pub_date|date }}</a></li>
        {% endfor %}
    </ul>
    <hr>
    <h5><b>Periodici:</b></h5>
    <ul>
        {% for periodical in object.periodicals.all %}
            <li><a href="{% url 'digital_lending:periodical-issues' periodical.pk %}">{{ periodical.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}