{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Aggiorna editore{% endblock %}

{% block content %}
    <h1><b>Aggiorna editore</b></h1>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'digital_lending:publisher-detail' object.pk %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}
