{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Aggiungi libro a lista{% endblock %}

{% block content %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             <b>{{ message|safe }}</b>
         </div>
     {% endfor %}
    {% endif %}

    <h1><b>Aggiungi "{{ edition.book.title }}" ad una delle tue liste:</b></h1>
    <br>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'digital_lending:edition-detail' edition.pk %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}