{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Elimina libro dalla lista{% endblock %}

{% block content %}
    <h1><b>Elimina libro dalla lista</b></h1>
    <br>
    <h4>Confermi di voler eliminare <b>"{{ object.edition.book.title }}"</b> dalla lista?</h4>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'digital_lending:book-list-detail' object.list.pk %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}
