{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Aggiungi autore{% endblock %}

{% block content %}
    <h1><b>Aggiungi un nuovo autore</b></h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'digital_lending:edition-create' %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}