{% extends 'base.html' %}

{% block title %}Autore: {{ object.name }}{% endblock %}

{% block content %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             <b>{{ message|safe }}</b>
         </div>
     {% endfor %}
    {% endif %}

    <h1><b>{{ object.name }}</b></h1>
    <h5>( {% if object.date_of_birth %}{{ object.date_of_birth }} {% else %}  {% endif %}
        -
        {% if object.date_of_death %} {{ object.date_of_death }} {% else %}  {% endif %})</h5>
    <p><b>Luogo di nascita:</b>
        {% if  object.birth_city%} {{ object.birth_city }}, {% else %}  {% endif %}
        {% if object.birth_country %}{{ object.birth_country }} {% else %}  {% endif %}</p>
    {% if object.short_bio %}
        <p><b>Bio:</b> {{ object.short_bio }}</p>
    {% endif %}
    <br>
    {% if user.is_authenticated and user.is_library %}
        <a href="{% url 'digital_lending:author-update' object.pk %}" class="w3-button w3-teal w3-round-large" role="button">Aggiorna scheda autore</a>
    {% endif %}
    <hr>
    <h5><b>Libri:</b></h5>
    <ul>
        {% for book in object.books.all %}
            <li><a href="{% url 'digital_lending:book-detail' book.pk %}">{{ book.title }}</a></li>
        {% endfor %}
    </ul>


{% endblock %}