{% extends 'base_list.html' %}


{% block list_title %}Suggerimenti d'acquisto{% endblock %}
{% block content_title %}Suggerimenti d'acquisto{% endblock %}

{% block thead %}
    <th>Libro</th>
    <th>Suggerimenti ricevuti</th>
{% endblock %}

{% block tbody %}
    {% for suggestion in page_obj %}
        <tr>
            <td><a href="{% url 'digital_lending:edition-detail' suggestion.edition %}">{{ suggestion.edition }}</a></td>
            <td>{{ suggestion.dcount }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table_after %}
    <a href="{% url 'accounts:profile' user.pk %}">Torna al tuo profilo</a>
    <hr>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Inizio</a>
            <a href="?page={{ page_obj.previous_page_number }}">Indietro</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Avanti</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Fine &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
