{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Aggiungi libro{% endblock %}

{% block content %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
    {% endif %}

    <h1><b>Aggiungi un nuovo libro</b></h1>
        <br>
        <a href="{% url 'digital_lending:author-create' %}" class="w3-button w3-teal w3-round-large" role="button">Non trovi l'autore che cerchi? Aggiungilo</a>
        <br><br>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'digital_lending:edition-create' %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}