{% extends 'base.html' %}

{% block title %}Libro: {{ object.title }}{% endblock %}

{% block content %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             <b>{{ message|safe }}</b>
         </div>
     {% endfor %}
    {% endif %}

    <h1><b>{{ object.title }}</b></h1>
    {% for author in object.author.all %}
        <h5><a href="{% url 'digital_lending:author-detail' author.pk %}">{{ author.name }}</a></h5>
        <br>
    {% endfor %}
    <h5><b>Categorie</b>:
    <br>
        {% for category in object.category.all %}
          <a href="{% url 'digital_lending:category-detail' category.pk %}">{{ category.name }}</a>
            <br>
        {% endfor %}</h5>
    <br>
    {% if user.is_authenticated and user.is_library %}
        <a href="{% url 'digital_lending:book-update' object.pk %}" class="w3-button w3-teal w3-round-large" role="button">Aggiorna scheda libro</a>
    {% endif %}
      <hr>
    <h5><b>Edizioni:</b></h5>
    <ul>
        {% for edition in object.editions.all %}
            <li><a href="{% url 'digital_lending:edition-detail' edition.pk %}">{{ edition.book.title }} - {{ edition.publisher.name }}, {{ edition.pub_date|date }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
