{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Aggiorna libro{% endblock %}

{% block content %}
    <h1><b>Aggiorna libro</b></h1>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'digital_lending:book-detail' object.pk %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}
