{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Elimina numero{% endblock %}

{% block content %}
    <h1><b>Elimina numero</b></h1>
    <br>
    <h4>Confermi di voler eliminare questo numero?</h4>
    <h5><b>{{ object.periodical.name }}</b>, numero <b>{{ object.number }}</b></h5>
    <h5>{{ object.periodical.publisher.name }}, {{ object.pub_date|date }}</h5>
    <h5><b>Tipo:</b> {% if object.is_newspaper %} Giornale {% else %} Rivista {% endif %}</h5>
   <form method="post" enctype="multipart/form-data">
       {% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'digital_lending:periodical-issues' object.periodical.id %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}
