{% extends 'base_list.html' %}

{% block list_title %}Numeri di {{ periodical.name }}{% endblock %}
{% block content_title %}Numeri di {{ periodical.name }}{% endblock %}

{% block thead %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
    {% endif %}

    <th>Numero</th>
    <th>Data di pubblicazione
       {% if sort == "oldest" or "" %}
            <a href="{% url 'digital_lending:periodical-issues' periodical.pk %}?sort=newest">▼</a>
        {% else %}
            <a href="{% url 'digital_lending:periodical-issues' periodical.pk %}?sort=oldest">▲</a>
    {% endif %}
    </th>
    <th>Opzioni</th>
{% endblock %}

{% block tbody %}
    {% for issue in page_obj %}
        <tr>
            <td>{{ issue.number }}</td>
            <td>{{ issue.pub_date|date }}</td>
            <td>
                {% if user.is_authenticated and user.is_person and issue.file.url %}
                    {% if issue.library in user_libraries %}
                        <a href="{{ issue.file.url }}" class="w3-button w3-teal w3-round-large" download>Scarica</a>
                    {% endif %}
                    <br>
                {% endif %}
                {% if user.is_authenticated and user.is_library and issue.library.pk == user.id %}
                    <a href="{% url 'digital_lending:periodical-issue-update' issue.pk %}">Aggiorna</a>
                    <br>
                    <a href="{% url 'digital_lending:periodical-issue-delete' issue.pk %}">Elimina</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table_after %}
    {% if user.is_authenticated and user.is_library %}
        <a class="w3-button w3-teal w3-round-large" role="button" href="{% url 'digital_lending:issue-create' periodical.id %}">Aggiungi un nuovo numero</a>
        <br><br>
        <a class="w3-button w3-teal w3-round-large" role="button" href="{% url 'digital_lending:periodical-update' periodical.id %}">Aggiorna scheda periodico</a>
    {%  endif %}
    <hr>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Inizio</a>
            <a href="?page={{ page_obj.previous_page_number }}">Indietro</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Avanti</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Fine &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
