{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Aggiorna numero{% endblock %}

{% block content %}
    <h1><b>Aggiorna numero</b></h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'digital_lending:periodical-issues' object.periodical.pk %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}
