{% extends 'base.html' %}

{% block title %}Categoria: {{ object.name }}{% endblock %}

{% block content %}
    <h1><b>Categoria: {{ object.name }}</b></h1>
    <h5><b>Descrizione:</b> {% if object.desc %}{{ object.desc }} {% else %} - {% endif %}</h5>
     <hr>
    <h5><b>Libri:</b></h5>
    <ul>
        {% for book in object.books.all %}
            <li><a href="{% url 'digital_lending:book-detail' book.pk %}">{{ book.title }}</a></li>
        {% endfor %}
    </ul>
    <hr>
    <h5><b>Periodici:</b></h5>
    <ul>
        {% for periodical in object.periodicals.all %}
            <li><a href="{% url 'digital_lending:periodical-issues' periodical.pk %}">{{ periodical.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}