{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Accedi</h2>
<form method="post">
    {% csrf_token %}
        {{ form|crispy }}
        <br>
        <input class="w3-button w3-teal w3-round-large" type="submit" value="Accedi">
    </form>
{% endblock %}