{% extends 'base.html' %}

{% block content %}
  <h2>Crea un account</h2>
  <p style="text-align:center;" class="lead">Seleziona il tipo di account</p>
    <p style="text-align:center;">
      <a href="{% url 'accounts:person-signup' %}" class="w3-button w3-teal w3-round-large" role="button">Registrati come persona</a>
      <a href="{% url 'accounts:library-signup' %}" class="w3-button w3-teal w3-round-large" role="button">Registrati come biblioteca</a>
    </p>
{% endblock %}

