{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
        <h2>Registrati come
          {% if user_type == "person" %} persona {% else %} biblioteca {% endif %}</h2>
      <form method="post" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ form|crispy }}
          <br>
             <button type="submit" class="w3-button w3-teal w3-round-large">Iscriviti</button>
      </form>
        <br>
{% endblock %}