{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Elimina lista "{{ object.title }}"{% endblock %}

{% block content %}
    <h1><b>Elimina lista "{{ object.title }}"</b></h1>
    <br>
    <h4>Confermi di voler eliminare questa lista?</h4>
    <h5><b>Titolo:</b> {{ object.title }}</h5>
    <h5><b>Descrizione:</b>{% if object.desc %} {{ object.desc }} {% else %} - {% endif %}</h5>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'digital_lending:my-book-lists' %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}
