{% extends 'base.html' %}
{% load static %}

{% block title %}Lista: {{ list.title }}{% endblock %}

{% block content %}
    {% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
    {% endif %}

    <h1><b>Lista: {{ list.title }} di <a href="{% url 'accounts:profile' list.owner.pk %}">{{ list.owner.username }}</a></b></h1>
    <br>
    <h4>{% if list.desc %}{{ list.desc }} {% else %}  {% endif %}</h4>
    <br>
    <h5><b>{{ views }}</b> visualizzazioni</h5>
     <table class="table">
        <thead>
        <tr>
            <th> </th>
            <th>Titolo
                {% if sort == "title_desc" or "" %}
                    <a href="{% url 'digital_lending:book-list-detail' list.pk %}?sort=title_asc">▼</a>
                {% else %}
                    <a href="{% url 'digital_lending:book-list-detail' list.pk %}?sort=title_desc">▲</a>
                {% endif %}
            </th>
            <th>Autore</th>
            <th>Data aggiunto
                {% if sort == "oldest" or "" %}
                    <a href="{% url 'digital_lending:book-list-detail' list.pk %}?sort=newest">▼</a>
                {% else %}
                    <a href="{% url 'digital_lending:book-list-detail' list.pk %}?sort=oldest">▲</a>
                {% endif %}
            </th>
            <th>Dettaglio</th>
        </tr>
        </thead>
        <tbody>
           {% for entry in editions %}
               <tr>
               <td>
                   {% if entry.edition.pic %}
                    <img class="img-fluid img-thumbnail" src="{{ entry.edition.pic.url }}" style="width:85px">
                {% else %}
                    <img class="img-fluid img-thumbnail" src="{% static 'digital_lending/book-img-placeholder.jpg' %}" style="width:85px">
                {% endif %}
               </td>
                <td>{{ entry.edition.book.title }}</td>
                <td>
                    {% for author in entry.edition.book.author.all %}
                        <a href="{% url 'digital_lending:author-detail' author.pk %}">{{ author.name }}</a>
                    {% endfor %}
                </td>
                <td>{{ entry.date_added|date }}</td>
                <td><a href="{% url 'digital_lending:edition-detail' entry.edition.isbn_digital %}">Vai al libro</a>
               <br>
                    {% if user.is_authenticated and user == list.owner %}
                        <a href="{% url 'digital_lending:delete-book-from-list' entry.pk %}">Elimina libro</a></td>
                    {% endif %}

               </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if user.is_authenticated and list.owner == user %}
        <br>
        <a href="{% url 'digital_lending:book-list-update' list.pk %}" class="w3-button w3-teal w3-round-large" role="button">Aggiorna lista</a>
        <br><br>
        <a href="{% url 'digital_lending:book-list-delete' list.pk %}" class="w3-button w3-teal w3-round-large" role="button">Elimina lista</a>
    {% endif %}

    <hr>
{% endblock %}