{% extends 'base_list.html' %}
{% load static %}

{% block list_title %}Liste{% endblock %}
{% block content_title %}
    <h5>{% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
    {% endif %}</h5>

    <h1><b>Liste</b></h1>
{% endblock %}

{% block thead %}
    <form action="{% url 'digital_lending:book-lists' %}" method="get">
        <input name="q" type="text" placeholder="Cerca titolo...">
    </form>
    <br>
    <th> </th>
    <th>Titolo</th>
    <th>Utente</th>
    <th>Data creazione
        {% if sort == "oldest" or sort == "" %}
            <a href="{% url 'digital_lending:book-lists' %}?sort=newest">▼</a>
        {% else %}
            <a href="{% url 'digital_lending:book-lists' %}?sort=oldest">▲</a>
    {% endif %}
    </th>
    <th>Dettaglio</th>
    <th>Salva</th>
{% endblock %}

{% block tbody %}
    {% for list in page_obj %}
        <tr>
            <td>
                {% if list.books.all.0.edition.pic %}
                    <img class="img-fluid img-thumbnail" src="{{ list.books.all.0.edition.pic.url }}" style="width:85px">
                {% else %}
                    <img class="img-fluid img-thumbnail" src="{% static 'digital_lending/book-img-placeholder.jpg' %}" style="width:85px">
                {% endif %}
            </td>
            <td>{{ list.title }}</td>
            <td>
                <a href="{% url 'accounts:profile' list.owner.pk %}">{{ list.owner.username }}</a>
            </td>
            <td>{{ list.date_created|date }}</td>
            <td><a href="{% url 'digital_lending:book-list-detail' list.pk %}">Vai alla lista</a>
                {% if user.is_authenticated and list.owner == user %}
                <br>
                <a href="{% url 'digital_lending:book-list-update' list.pk %}">Aggiorna lista</a>
                <br>
                <a href="{% url 'digital_lending:book-list-delete' list.pk %}">Elimina lista</a>
                {% endif %}
            </td>
            <td>
                {% if user.is_authenticated and list.owner != user %}
                    <form method="POST" action="{% url 'digital_lending:book-list-save' list.pk %}" class="form-check-inline">
                        {% csrf_token %}
                        <button type="submit" class="w3-button w3-teal w3-round-large">
                            {% if list.pk in user_saved_lists %}Rimuovi lista {% else %} Salva lista {% endif %}</button>
                    </form>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table_after %}
    {% if user.is_authenticated %}
        <a href="{% url 'digital_lending:book-list-create' %}" class="w3-button w3-teal w3-round-large" role="button">Crea una nuova lista</a>
    {%  endif %}
    <hr>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Inizio</a>
            <a href="?page={{ page_obj.previous_page_number }}">Indietro</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Avanti</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Fine &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
