{% extends 'base_list.html' %}
{% load static %}

{% block list_title %}Liste salvate{% endblock %}
{% block content_title %}Liste salvate{% endblock %}

{% block thead %}
    <th> </th>
    <th>Titolo</th>
    <th>Utente</th>
    <th>Descrizione</th>
    <th>Dettaglio</th>
    <th>Opzioni</th>
{% endblock %}

{% block tbody %}
    {% for saved_list in page_obj %}
        <tr>
            <td>
                {% if saved_list.books.all.0.edition.picedition.pic %}
                    <img class="img-fluid img-thumbnail" src="{{ saved_list.books.all.0.edition.pic.url }}" style="width:85px">
                {% else %}
                    <img class="img-fluid img-thumbnail" src="{% static 'digital_lending/book-img-placeholder.jpg' %}" style="width:85px">
                {% endif %}
            </td>
            <td>{{ saved_list.list.title }}</td>
            <td><a href="{% url 'accounts:profile' saved_list.list.owner.pk %}">{{ saved_list.list.owner.username }}</a></td>
            <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;">
                {% if saved_list.list.desc %}{{ saved_list.list.desc }} {% else %} - {% endif %}
            </td>
        <td>
            <a href="{% url 'digital_lending:book-list-detail' saved_list.list.pk %}">Vai alla lista</a>
        </td>
            <td>
                <form method="POST" action="{% url 'digital_lending:book-list-save' saved_list.list.pk %}" class="form-check-inline">
                        {% csrf_token %}
                        <button type="submit" class="w3-button w3-teal w3-round-large" role="button" >Rimuovi lista</button>
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table_after %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Inizio</a>
            <a href="?page={{ page_obj.previous_page_number }}">Indietro</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Avanti</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Fine &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
