{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Aggiorna lista "{{ object.title }}"{% endblock %}

{% block content %}
    <h1><b>Aggiorna lista "{{ object.title }}"</b></h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <a href="{% url 'digital_lending:my-book-lists' %}">Annulla</a>
        <input type="submit" value="Conferma">
    </form>
{% endblock %}
