{% extends 'base_list.html' %}

{% block list_title %}Copie disponibili di {{ object_list.0.edition.book.title }}{% endblock %}
{% block content_title %}Copie disponibili di <a href="{% url 'digital_lending:edition-detail' object_list.0.edition.pk %}">{{ object_list.0.edition.book.title }}</a>{% endblock %}

{% block thead %}
    <th>Titolo</th>
    <th>Autore</th>
    <th>Tipo</th>
    <th>Scegli</th>
{% endblock %}

{% block tbody %}
    {% for copy in page_obj %}
        <tr></tr>
            <td>{{ copy.edition.book.title }}</td>
            <td>{% for author in copy.edition.book.author.all %}
                {{ author.name }}
                {% endfor %}</td>
            <td>{% if copy.is_audiobook %} Audiobook {% else %} Ebook {% endif %}</td>
            <td>
            <form method="POST" action="{% url 'digital_lending:edition-lend' copy.pk %}" class="form-check-inline">
                {% csrf_token %}
                <button type="submit" class="w3-button w3-teal w3-round-large">Prendi in prestito</button>
            </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table_after %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Inizio</a>
            <a href="?page={{ page_obj.previous_page_number }}">Indietro</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Avanti</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Fine &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
