{% extends 'base_list.html' %}
{% load static %}

{% block list_title %}Cronologia prestiti{% endblock %}
{% block content_title %}Cronologia prestiti{% endblock %}

{% block thead %}
    <th> </th>
    <th>Titolo</th>
    <th>Autore</th>
    <th>Data inizio prestito</th>
    <th>Data fine prestito</th>
    <th>Scarica</th>
{% endblock %}

{% block tbody %}
    {% for lending in page_obj %}
        <tr>
            <td>
                {% if lending.copy.edition.pic %}
                    <img class="img-fluid img-thumbnail" src="{{ lending.copy.edition.pic.url }}" style="width:85px">
                {% else %}
                    <img class="img-fluid img-thumbnail" src="{% static 'digital_lending/book-img-placeholder.jpg' %}" style="width:85px">
                {% endif %}
            </td>
            <td>
                <a href="{% url 'digital_lending:edition-detail' lending.copy.edition.pk %}">{{ lending.copy.edition.book.title }}</a>
            </td>
            <td>{% for author in lending.copy.edition.book.author.all %}
                <a href="{% url 'digital_lending:author-detail' author.pk %}">{{ author.name }}</a>
                <br>
                {% endfor %}</td>
            <td>{{ lending.date_lent|date }}</td>
            <td>{{ lending.date_returned|date }}</td>
            <td>
            {% if lending.is_lending_active %}
                {% if lending.copy.file.url %}
                    <a href="{{ lending.copy.file.url }}" class="w3-button w3-teal w3-round-large" download>Scarica</a>
               {% endif %}
            {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block table_after %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Inizio</a>
            <a href="?page={{ page_obj.previous_page_number }}">Indietro</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Avanti</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Fine &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
